<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>系统管理员后台界面</title>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
</head>
<body>
<div class="easyui-layout" style="width:100%;height:800px;">
    <div data-options="region:'north'" style="height:100px;background-color: #5ED5D1">
        <img src="logo.png" height="70px"/>
        <h1 style="float: right">
            （系统管理员)
        </h1>
        <a style="display:block;top:0;position: absolute;right: 10px;background-color: red;color:white;text-decoration: none"
           href="/web/logout.do">退出</a></div>
    <div data-options="region:'west',split:true" title="菜单" style="width:200px;height:100%">
        <div class="easyui-panel" style="padding:5px;height: 100%">
            <ul class="easyui-tree" data-options="animate:true,lines:true" id="tt">
                <li>
                    <span>功能菜单</span>
                    <ul>
                        <li>
                            <span>权限管理</span>
                            <ul>
                                <li id="admin_user.html">系统管理</li>
                                <li id="app_cuTree.html">客户管理</li>
                                <li id="supplier.html">供应商管理</li>
                                <li id="goods.html">货品管理</li>
                            </ul>
                        </li>
                        <li>
                            <span>供货管理</span>
                            <ul>
                                <li id="page_purchase_new.html">进货</li>
                                <li id="shopcar.html">购物车</li>
                                <li id="inbound.html">入库审核</li>
                                <li id="order_history.html">入库记录</li>
                            </ul>
                        </li>
                        <li>
                            <span>销售管理</span>
                            <ul>
                                <li id="sale_new.html">出货</li>
                                <li id="sale_query.html">出货审核</li>
                                <li id="sale_history.html">出货记录</li>
                            </ul>
                        </li>
                        <li>
                            <span>库存管理</span>
                            <ul>
                                <li id="order.html">库存查询</li>
                                <li id="order_alarm.html">库存预警</li>
                                <li id="order_dead.html">到期预警</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div data-options="region:'center',title:'考核表',iconCls:'icon-ok'" style="height: 100%">
        <iframe id="frame" src="" width="100%" height="100%" style="border: none">
        </iframe>
    </div>
</div>
<script>
    /*<![CDATA[*/
    window.userId = -1;
    window.userOf = "";
    $('#tt').tree({
        onClick: function (node) {
            $('#frame').attr("src", node.id);
        }
    });
    /*]]>*/
</script>
</body>
</html>
</html>