<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>供货存管理系统</title>
    <!--Layer 模块-->
    <script src="layui/lay/modules/jquery.min.js"></script>
    <!--JQuery Easy UI 模块-->
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
</head>
<body class="">
    <div class="" style="padding: 15px;">
        <!-- 内容主体区域 -->
        <button class="layui-btn layui-btn-sm" onclick="Export('导出excel', $('#dg'));">打印报表</button>
        <blockquote class="layui-elem-quote layui-quote-nm">货品信息是系统平稳运行的基础，数据珍贵，如非特殊情况，请不要轻易变动或删除！</blockquote>
        <table id="dg" class="easyui-datagrid" title="商品列表" style="width:100%;height:800px"
               data-options="rownumbers:true,
                   singleSelect:true,
                   url:'/web/goods/get.do',
                   method:'get',
                   toolbar:'#tb',
                    onDblClickRow: onDBClickRow,
                   remoteSort:false">
            <thead>
            <tr>
                <th data-options="field:'su_id',width:80,hidden:true,sortable:true">流水号</th>
                <th data-options="field:'su_name',width:80,editor:'textbox',sortable:true">商品名称</th>
                <th data-options="field:'su_No',width:80,editor:'textbox',sortable:true">商品货号</th>
                <th data-options="field:'su_storage',width:80,editor:'textbox',sortable:true">储存条件</th>
                <th data-options="field:'su_standard',width:100,editor:'textbox',sortable:true">规格</th>
                <th data-options="field:'supplier_office',width:100,editor:'textbox',sortable:true">供货商</th>
                <th data-options="field:'su_orign',width:80,align:'right',editor:'textbox',sortable:true">产地</th>
                <th data-options="field:'su_listPrice',width:80,align:'right',editor:'textbox',sortable:true">目录价</th>
                <th data-options="field:'su_other',width:80,align:'right',editor:'textbox',sortable:true">备注</th>
            </tr>
            </thead>
        </table>
        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openForm_AddGoods()">添加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delSu()">删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="updateRow()">保存选中项</a>
        </div>
        <!--右键菜单-->
        <div id="mm" class="easyui-menu" style="width:120px;">
            <div onclick="$('#dlg_Cart').dialog('open')" data-options="iconCls:'icon-add'">加入购物车</div>
        </div>
        <!--加入购物车-->
        <div id="dlg_Cart" class="easyui-dialog" title="加入购物车" data-options="iconCls:'icon-save'" closed="true" style="width:450px;height:200px;padding:10px">
            <div style="margin-bottom:20px">
                <input class="easyui-numberbox" id="car_number" name="number" style="width:100%" data-options="label:'数量:',required:true"/>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="car_other" name="subject" style="width:100%" data-options="label:'备注:',required:true"/>
            </div>
            <div style="text-align:center;padding:5px 0">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="addToCar()" style="width:80px">确认</a>
            </div>
        </div>
        <!--添加物品-->
        <script>
            function openForm_AddGoods() {
                window.open("form_addGoods.html","_blank","height=800,width=400");
            }
        </script>
    </div>
    <script>
        $(function ()
        {
            //右键菜单
            $('#dg').datagrid({
                onRowContextMenu:function (e,index,row) {
                    e.preventDefault();
                    $('#mm').menu('show',{
                        left:e.pageX,
                        top:e.pageY});
                }
            });
        });
    </script>
    <!--Layui启动代码-->
    <script>
        //JavaScript代码区域
        layui.use('form', function(){
            var form = layui.form;
        });
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>
    <!--物品CURD代码-->
    <script>
        var editIndex = undefined;
        //双击后确定编辑
        function onDBClickRow(index,row){
            if(editIndex!=index)
            {
                $('#dg').datagrid('endEdit',editIndex);
                editIndex=index;
            }
            $('#dg').datagrid("beginEdit",index);
        }
        //更新行
        function updateRow() {
            $('#dg').datagrid('endEdit', editIndex);
            var row=$('#dg').datagrid('getSelected');
            console.log(row);
            $.ajax({
                url:"/web/goods/update.do",
                data:row
            });
        }
        //添加物品
        function addGoods() {

        }
        //删除行
        function delSu() {
            var id =$('#dg').datagrid("getSelected").su_id;
            var $delGoods_request=$.ajax({
                type:"POST",
                url:"/web/goods/del.do",
                data:{goodsID:id}
            });
            $delGoods_request.done(function (msg) {
                alert(msg);
            })

        }
        //加入购物车
        function addToCar() {

            var car_su_id=$('#dg').datagrid('getSelected').su_id;
            var car_number=$("#car_number").val();
            var car_other=$("#car_other").val();
            $.ajax({
                url:"/web/sc/add.do",
                method:"post",
                data:{
                    car_su_id:car_su_id,
                    car_su_number:car_number,
                    car_other:car_other
                },
                success:function (data) {
                    $.messager.alert("提示信息",data);
                }
            })
        }
    </script>
<script>
    /*<![CDATA[*/
    function ChangeToTable(printDatagrid) {
        var tableString = '<table cellspacing="0" class="pb">';
        var frozenColumns = printDatagrid.datagrid("options").frozenColumns; // 得到frozenColumns对象
        var columns = printDatagrid.datagrid("options").columns;  // 得到columns对象
        var nameList = new Array();

        // 载入title
        if (typeof columns != 'undefined' && columns != '') {
            $(columns).each(function (index) {
                tableString += '\n<tr>';
                if (typeof frozenColumns != 'undefined' && typeof frozenColumns[index] != 'undefined') {
                    for (var i = 0; i < frozenColumns[index].length; ++i) {
                        if (!frozenColumns[index][i].hidden) {
                            tableString += '\n<th width="' + frozenColumns[index][i].width + '"';
                            if (typeof frozenColumns[index][i].rowspan != 'undefined' && frozenColumns[index][i].rowspan > 1) {
                                tableString += ' rowspan="' + frozenColumns[index][i].rowspan + '"';
                            }
                            if (typeof frozenColumns[index][i].colspan != 'undefined' && frozenColumns[index][i].colspan > 1) {
                                tableString += ' colspan="' + frozenColumns[index][i].colspan + '"';
                            }
                            if (typeof frozenColumns[index][i].field != 'undefined' && frozenColumns[index][i].field != '') {
                                nameList.push(frozenColumns[index][i]);
                            }
                            tableString += '>' + frozenColumns[0][i].title + '</th>';
                        }
                    }
                }
                for (var i = 0; i < columns[index].length; ++i) {
                    if (!columns[index][i].hidden) {
                        tableString += '\n<th width="' + columns[index][i].width + '"';
                        if (typeof columns[index][i].rowspan != 'undefined' && columns[index][i].rowspan > 1) {
                            tableString += ' rowspan="' + columns[index][i].rowspan + '"';
                        }
                        if (typeof columns[index][i].colspan != 'undefined' && columns[index][i].colspan > 1) {
                            tableString += ' colspan="' + columns[index][i].colspan + '"';
                        }
                        if (typeof columns[index][i].field != 'undefined' && columns[index][i].field != '') {
                            nameList.push(columns[index][i]);
                        }
                        tableString += '>' + columns[index][i].title + '</th>';
                    }
                }
                tableString += '\n</tr>';
            });
        }
        // 载入内容
        var rows = printDatagrid.datagrid("getRows"); // 这段代码是获取当前页的所有行
        for (var i = 0; i < rows.length; ++i) {
            tableString += '\n<tr>';
            for (var j = 0; j < nameList.length; ++j) {
                var e = nameList[j].field.lastIndexOf('_0');

                tableString += '\n<td';
                if (nameList[j].align != 'undefined' && nameList[j].align != '') {
                    tableString += ' style="text-align:' + nameList[j].align + ';"';
                }
                tableString += '>';
                if (e + 2 == nameList[j].field.length) {
                    tableString += rows[i][nameList[j].field.substring(0, e)];
                }
                else
                    tableString += rows[i][nameList[j].field];
                tableString += '</td>';
            }
            tableString += '\n</tr>';
        }
        tableString += '\n</table>';
        return tableString;
    }
    function Export(strXlsName, exportGrid) {
        var f = $('<form action="/web/branch/excel.do" method="post" id="fm1"></form>');
        var i = $('<input type="hidden" id="txtContent" name="txtContent" />');
        var l = $('<input type="hidden" id="txtName" name="txtName" />');
        i.val(ChangeToTable(exportGrid));
        i.appendTo(f);
        l.val(strXlsName);
        l.appendTo(f);
        f.appendTo(document.body).submit();
        document.body.removeChild(f);
    }
    /*]]>*/
</script>
</body>
</html>