<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>供货存管理系统</title>
    <!--Layer 模块-->
    <script src="layui/lay/modules/jquery.min.js"></script>
    <!--JQuery Easy UI 模块-->
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
</head>
<body class="">
    <div class="" style="padding: 15px;">
        <!-- 内容主体区域 -->
        <table id="dg" class="easyui-datagrid" title="商品列表" style="width:100%;height:700px"
               data-options="rownumbers:true,
                   singleSelect:true,
                   url:'/web/goods/getByPage.do',
                   method:'get',
                   toolbar:'#tb',
                   onDblClickRow: onDBClickRow,
                   remoteSort:false,
                   pagination:true,
                    pageSize:50">
            <thead>
            <tr>
                <th data-options="field:'su_id',width:80,hidden:true,sortable:true">流水号</th>
                <th data-options="field:'supplier_office',width:100,editor:'textbox',sortable:true">供货商</th>
                <th data-options="field:'su_name',width:80,editor:'textbox',sortable:true">商品名称</th>
                <th data-options="field:'su_No',width:80,editor:'textbox',sortable:true">商品货号</th>
                <th data-options="field:'su_storage',width:80,editor:'textbox',sortable:true">储存条件</th>
                <th data-options="field:'su_standard',width:100,editor:'textbox',sortable:true">规格</th>
                <th data-options="field:'su_orign',width:80,align:'right',editor:'textbox',sortable:true">产地</th>
                <th data-options="field:'su_listPrice',width:80,align:'right',editor:'textbox',sortable:true">目录价</th>
                <th data-options="field:'su_other',width:80,align:'right',editor:'textbox',sortable:true">备注</th>
            </tr>
            </thead>
        </table>
        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="$('#dlg').dialog('open').dialog('center').dialog('setTitle','添加货品');">添加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delSu()">删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="updateRow()">保存选中项</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" onclick="Export('导出excel', $('#dg'));">打印报表</a>
        </div>
        <!--右键菜单-->
        <div id="mm" class="easyui-menu" style="width:120px;">
            <div onclick="$('#dlg_Cart').dialog('open')" data-options="iconCls:'icon-add'">加入购物车</div>
        </div>
        <!--加入购物车-->
        <div id="dlg_Cart" class="easyui-dialog" title="加入购物车" data-options="iconCls:'icon-save'" closed="true" style="width:250px;height:180px;padding:10px">

            <form id="ff_shopcar" method="post">
                <div style="margin-bottom:10px">
                    <td><input class="easyui-textbox" label="数量：" type="number"  id="car_number" data-options="required:true"/></td>
                </div>
                <div style="margin-bottom:10px">
                    <td><input class="easyui-textbox" label="备注：" type="text"    id="car_other" data-options="required:false"/></td>
                </div>
            </form>
            <div style="text-align:center;padding:5px 0">
                <a  class="easyui-linkbutton" onclick="addToCar()" style="width:80px">提交</a>
            </div>
        </div>
    </div>
    <script>
        /*<![CDATA[*/
        $(function ()
        {
            //右键菜单
            $('#dg').datagrid({
                onRowContextMenu:function (e,index,row) {
                    e.preventDefault();
                    $('#mm').menu('show',{
                        left:e.pageX,
                        top:e.pageY});
                }
            });
            //供货商列表
            $.ajax({
                type:"GET",
                url:"/web/supplier/getALlSupplierInfo.do",
                success:function (datas) {
                    console.log(datas);
                    var i;
                    for(i=0;i<datas.length;i++)
                    {
                        $('#su_supplier').append("<option value='"+datas[i].supplier_id+"'>"+datas[i].supplier_office+"</option>")
                    }
                }
            });
        });
        /*]]>*/
    </script>
    <!--物品CURD代码-->
    <script>
        var editIndex = undefined;
        //双击后确定编辑
        function onDBClickRow(index,row){
            if(editIndex!=index)
            {
                $('#dg').datagrid('endEdit',editIndex);
                editIndex=index;
            }
            $('#dg').datagrid("beginEdit",index);
        }
        //更新行
        function updateRow() {
            $('#dg').datagrid('endEdit', editIndex);
            var row=$('#dg').datagrid('getSelected');
            console.log(row);
            $.ajax({
                url:"/web/goods/update.do",
                data:row
            });
        }
        //删除行
        function delSu() {
            var id =$('#dg').datagrid("getSelected").su_id;
            var $delGoods_request=$.ajax({
                type:"POST",
                url:"/web/goods/del.do",
                data:{goodsID:id}
            });
            $delGoods_request.done(function (msg) {
                $.messager.alert("反馈",msg);
            })
        }
        //加入购物车
        function addToCar() {
            var car_su_id=$('#dg').datagrid('getSelected').su_id;
            var car_number=$("#car_number").val();
            var car_other=$("#car_other").val();
            $.ajax({
                url:"/web/sc/add.do",
                method:"post",
                data:{
                    car_su_id:car_su_id,
                    car_su_number:car_number,
                    car_other:car_other
                },
                success:function (data) {
                    $.messager.alert("提示信息",data);
                }
            })
        }
    </script>
    <script>
    /*<![CDATA[*/
    function ChangeToTable(printDatagrid) {
        var tableString = '<table cellspacing="0" class="pb">';
        var frozenColumns = printDatagrid.datagrid("options").frozenColumns; // 得到frozenColumns对象
        var columns = printDatagrid.datagrid("options").columns;  // 得到columns对象
        var nameList = new Array();

        // 载入title
        if (typeof columns != 'undefined' && columns != '') {
            $(columns).each(function (index) {
                tableString += '\n<tr>';
                if (typeof frozenColumns != 'undefined' && typeof frozenColumns[index] != 'undefined') {
                    for (var i = 0; i < frozenColumns[index].length; ++i) {
                        if (!frozenColumns[index][i].hidden) {
                            tableString += '\n<th width="' + frozenColumns[index][i].width + '"';
                            if (typeof frozenColumns[index][i].rowspan != 'undefined' && frozenColumns[index][i].rowspan > 1) {
                                tableString += ' rowspan="' + frozenColumns[index][i].rowspan + '"';
                            }
                            if (typeof frozenColumns[index][i].colspan != 'undefined' && frozenColumns[index][i].colspan > 1) {
                                tableString += ' colspan="' + frozenColumns[index][i].colspan + '"';
                            }
                            if (typeof frozenColumns[index][i].field != 'undefined' && frozenColumns[index][i].field != '') {
                                nameList.push(frozenColumns[index][i]);
                            }
                            tableString += '>' + frozenColumns[0][i].title + '</th>';
                        }
                    }
                }
                for (var i = 0; i < columns[index].length; ++i) {
                    if (!columns[index][i].hidden) {
                        tableString += '\n<th width="' + columns[index][i].width + '"';
                        if (typeof columns[index][i].rowspan != 'undefined' && columns[index][i].rowspan > 1) {
                            tableString += ' rowspan="' + columns[index][i].rowspan + '"';
                        }
                        if (typeof columns[index][i].colspan != 'undefined' && columns[index][i].colspan > 1) {
                            tableString += ' colspan="' + columns[index][i].colspan + '"';
                        }
                        if (typeof columns[index][i].field != 'undefined' && columns[index][i].field != '') {
                            nameList.push(columns[index][i]);
                        }
                        tableString += '>' + columns[index][i].title + '</th>';
                    }
                }
                tableString += '\n</tr>';
            });
        }
        // 载入内容
        var rows = printDatagrid.datagrid("getRows"); // 这段代码是获取当前页的所有行
        for (var i = 0; i < rows.length; ++i) {
            tableString += '\n<tr>';
            for (var j = 0; j < nameList.length; ++j) {
                var e = nameList[j].field.lastIndexOf('_0');

                tableString += '\n<td';
                if (nameList[j].align != 'undefined' && nameList[j].align != '') {
                    tableString += ' style="text-align:' + nameList[j].align + ';"';
                }
                tableString += '>';
                if (e + 2 == nameList[j].field.length) {
                    tableString += rows[i][nameList[j].field.substring(0, e)];
                }
                else
                    tableString += rows[i][nameList[j].field];
                tableString += '</td>';
            }
            tableString += '\n</tr>';
        }
        tableString += '\n</table>';
        return tableString;
    }
    function Export(strXlsName, exportGrid) {
        var f = $('<form action="/web/branch/excel.do" method="post" id="fm1"></form>');
        var i = $('<input type="hidden" id="txtContent" name="txtContent" />');
        var l = $('<input type="hidden" id="txtName" name="txtName" />');
        i.val(ChangeToTable(exportGrid));
        i.appendTo(f);
        l.val(strXlsName);
        l.appendTo(f);
        f.appendTo(document.body).submit();
        document.body.removeChild(f);
    }
    /*]]>*/
</script>
    <!--添加物品页面-->
    <div id="dlg" class="easyui-dialog" style="width:400px"
         closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate="novalidate" style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">添加物品</div>
            <div style="margin-bottom:10px">
                <input name="su_No" class="easyui-textbox" required="true" label="货号:" style="width:100%"/>
            </div>
            <div style="margin-bottom:10px">
                <input name="su_name" class="easyui-textbox" required="true" label="名称:" style="width:100%"/>
            </div>
            <div style="margin-bottom:20px">
                <input  id="likeStr1"  style="width:100%" class="easyui-textbox"   data-options="label:'供货商名称:',required:false"/>
            </div>
            <div style="margin-bottom:20px">
                <label class="textbox-label">供货商选择</label>
                <select id="customerSelect" style="width:50%" class="easyui-combobox" name="su_supplier">
                </select>
            </div>
            <div style="margin-bottom:10px">
                <input name="su_orign" class="easyui-textbox" required="true" label="产地:" style="width:100%"/>
            </div>
            <div style="margin-bottom:10px">
                <input name="su_standard" class="easyui-textbox" required="true" label="标准:" style="width:100%"/>
            </div>
            <div style="margin-bottom:10px">
                <select   class="easyui-combobox" name="su_storage" label="存储条件:" style="width:100%">
                    <option value="4°C">4°C</option>
                    <option value="RT">RT</option>
                    <option value="-20°C">-20°C</option>
                    <option value="-80°C">-80°C</option>
                    <option value="RT/4°C">RT/4°C</option>
                    <option value="RT/4/-20°C">RT/4°C/20°C</option>
                    <option value="RT/-20°C">RT/-20°C"</option>
                    <option value="-80°C">-80°C</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <input name="su_listPrice" class="easyui-textbox" required="true" label="目录价:" style="width:100%"/>
            </div>
        </form>
        <div style="text-align: center">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="addGoodsAjax()" style="width:90px">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
        </div>
    </div>
    <script>
        function addGoodsAjax()
        {
            $('#fm').form('submit', {
                url: "/web/goods/add.do",
                onSubmit: function () {
                },
                success: function (result) {
                    $.messager.alert("消息",result);
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');     // reload the user data
                }
            })
        }
        $(function(){
            $('#likeStr1').textbox({
                onChange:function()
                {
                    $('#customerSelect').combobox({
                        url:"/web/supplier/getListByLikeName.do",
                        queryParams:{
                            likeStr:$('#likeStr1').val()
                        },
                        valueField:'supplier_id',
                        textField:'supplier_office'
                    });
                }
            })
        })
    </script>
</body>
</html>