<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>供货存管理系统</title>
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <link rel="stylesheet" href="layui/css/ms.css"/>
    <script src="layui/lay/modules/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
    <!--JQuery Easy UI 模块-->
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
</head>
<body>
        <!-- 内容主体区域 -->
        <table id="dg" class="easyui-datagrid" title="待入库订单" style="width:100%;height:800px"
               data-options="rownumbers:true,singleSelect:false,url:'/web/order/getCheck.do',method:'get', remoteSort:false,toolbar:'#tb'">
            <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'or_id',width:80,sortable:true">流水号</th>
                <th data-options="field:'supplier_office',width:80,sortable:true">供货商</th>
                <th data-options="field:'su_name',width:80,sortable:true">货品名称</th>
                <th data-options="field:'su_No',width:100,sortable:true">商品货号</th>
                <th data-options="field:'su_storage',width:80,align:'right'">存储条件</th>
                <th data-options="field:'su_orign',width:80,align:'right'">产地</th>
                <th data-options="field:'su_standard',width:80,align:'right'">规格</th>
                <th data-options="field:'or_date',width:80,align:'right',sortable:true">购货日期</th>
                <th data-options="field:'or_number',width:80,align:'right',sortable:true">数量</th>
                <th data-options="field:'or_price',width:80,align:'right',sortable:true">单价</th>
                <th data-options="field:'or_sum',width:80,align:'right',sortable:true">总价</th>
                <th data-options="field:'or_invoice',width:80,align:'right'">发票状况</th>
                <th data-options="field:'or_other',width:50,sortable:true">备注</th>
                <th data-options="field:'_operate',width:80,align:'center',formatter:formatOper">操作</th>
                <script>
                    function formatOper(val,row,index){
                        return '<a href="#"  onclick="inbound('+row.or_id+')">同意</a><a href="#"  onclick="delOrder('+row.or_id+')">拒绝</a>';
                    }
                </script>
            </tr>
            </thead>
        </table>
        <div id="tb" style="height:auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="inboundList()">一键入库</a>
        </div>
<!--CURD代码-->
<script>
    /*<![CDATA[*/
    //入库
    function inbound(btn)
    {
        $.messager.confirm("信息","确定要入库吗？",function(r){
            if(r)
            {
                var order_token=3;
                    $.ajax({
                        url:"/web/order/inbound.do",
                        data:{
                            id:btn,
                            token:order_token
                        },
                        success:function (msg) {
                            $.messager.alert("反馈",msg);
                            location.reload();
                        }
                    })
                }
        });
    }
    //删除订单
    function delOrder(btn) {
        $.messager.confirm("信息","确定要删除吗？",function(r){
            if(r) {
                if(r)
                {
                    $.ajax({
                        url:"/web/order/del.do",
                        data:{
                            id:btn
                        },
                        success:function (msg) {
                            $.messager.alert("反馈",msg);
                            location.reload();
                        }
                    })
                }
            }
        });
    }
    //一键入库
    function inboundList()
    {
        var rows = $('#dg').datagrid("getSelections");
        for(var i=0;i<rows.length;i++)
        {
            $.ajax({
                url:"/web/order/inbound.do",
                data:{
                    id:rows[i].or_id,
                    token:3
                }
            })
        }
        $.messager.alert("反馈","一键入库成功！")
    }
    //计算总价
    $('#dg').datagrid({
        onLoadSuccess: function (data) {
            var rows = $('#dg').datagrid("getRows");
            for (var i = 0; i < rows.length; i++) {
                $('#dg').datagrid('updateRow', {
                    index: i,
                    row: {
                        or_sum: rows[i].or_number * rows[i].or_price
                    }
                });
            }
        }
    });
    /*]]>*/
</script>
</body>
</html>