<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>供货存管理系统</title>
    <script src="layui/lay/modules/jquery.min.js"></script>
    <!--JQuery Easy UI 模块-->
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
    <style>
        .panel{float: left;}
    </style>
</head>
<body>

<div class="easyui-panel" title="出货台" style="width:100%;max-width:400px;padding:30px 60px;float: left">
    <form id="ff" method="post">
        <div style="margin-bottom:20px">
            <input id="likeStr" style="width: 100%" class="easyui-textbox" data-options="label:'物品名称:',required:false"/>
        </div>
        <div style="margin-bottom:20px">
            <input id="likeNo" style="width: 100%" class="easyui-textbox" data-options="label:'货 号:',required:false"/>
        </div>
        <div style="margin-bottom:20px">
            <input name="sale_number" style="width:100%" type="number"  class="easyui-numberbox" value="1" id="sale_number" data-options="label:'数 量:',min:0,precision:2,required:true"/>
        </div>
        <div style="margin-bottom:20px">
            <input name="sale_price" style="width:100%" type="number" class="easyui-numberbox" value="1"  data-options="label:'售 价:',required:true,min:0,precision:2"/>
        </div>
        <div style="margin-bottom:20px">
            <input  name="sale_date"  style="width:100%" type= "text" class= "easyui-datebox" required ="required" label="出货日期:"> </input>
        </div>
        <div style="margin-bottom:20px">
            <label class="textbox-label">付款状况：</label>
            <select name="sale_payment" style="width:50%" class="easyui-combobox">
                <option value="2">拖欠</option>
                <option value="0">现结转账</option>
                <option value="1">现结现金</option>
                <option value="3">预付款</option>
            </select>
        </div>
        <div style="margin-bottom:20px">
            <input  id="likeStr1"  style="width:100%" class="easyui-textbox"   data-options="label:'客户名称:',required:false"/>
        </div>
        <div style="margin-bottom:20px">
            <label class="textbox-label">客户选择</label>
            <select id="customerSelect" style="width:50%" class="easyui-combobox" name="sale_cu_id">
            </select>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:100%" name="sale_other" data-options="label:'备注信息:',required:false"/>
        </div>
        <div style="text-align: center">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="addAjax()" style="width:90px">保存</a>
        </div>
    </form>
</div>
<div id="p" class="easyui-panel" title="库存信息" style="width:580px;height:465px;padding:10px;">
    <div class="layui-colla-content layui-show" id="repertory">
        <table id="dg" class="easyui-datagrid" style="width:550px;height:410px"
               data-options="url:'/web/order/getListByLikeName.do',fitColumns:true,singleSelect:true"  toolbar="#toolbar">
            <thead>
            <tr>
                <th data-options="field:'su_id',width:100,hidden:true">ID</th>
                <th data-options="field:'su_name',width:100">名称</th>
                <th data-options="field:'su_No',width:80">货号</th>
                <th data-options="field:'or_number',width:100">余量</th>
                <th data-options="field:'supplier_office',width:100">厂家</th>
                <th data-options="field:'su_listPrice',width:100">目录价</th>
                <th data-options="field:'or_date',width:100">进货日期</th>
            </tr>
            </thead>
        </table>
        <div id="toolbar">
            隐藏数量低于此值的行
            <input class="easyui-numberbox" value="1" id="filterNum" style="width: 150px"/>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="cutRows()">隐藏</a>
        </div>
    </div>
</div>

<script>
    /*<![CDATA[*/
    //删除数量少的行
    function cutRows() {
        var rows = $('#dg').datagrid("getRows");
        var low = $('#filterNum').numberbox("getValue");
        var selectRows = [];
        for (var i= 0; i< rows.length; i++) {
            if(rows[i].or_number<low)
            {
                selectRows.push(rows[i]);
            }
        }
        for(var j =0;j<selectRows.length;j++){
            var index = $('#dg').datagrid('getRowIndex',selectRows[j]);
            $('#dg').datagrid('deleteRow',index);
        }
    }
    /*]]>*/
</script>



<!--下拉框更新AJAX-->
<script>
    /*<![CDATA[*/
    $(function(){
        $('#likeStr').textbox({
            onChange:function()
            {
                $('#dg').datagrid("load",{
                        like:$('#likeStr').val(),
                        type:1
                });
            }
        });
        $('#likeNo').textbox({
            onChange:function()
            {
                $('#dg').datagrid("load",{
                    like:$('#likeNo').val(),
                    type:2
                });
            }
        });

        $('#likeStr1').textbox({
            onChange:function()
            {
                $('#customerSelect').combobox({
                    url:"/web/customer/getListByLikeName.do",
                    queryParams:{
                        likeStr:$('#likeStr1').val()
                    },
                    valueField:'cu_id',
                    textField:'cu_name'
                });
            }
        })
    });

    <!--出货-->
    function addAjax() {
        var saleMax = $('#dg').datagrid('getSelected').or_number;
        var saleNum = $('#sale_number').val();
        if(saleNum >saleMax||saleNum<0)
        {
            $.messager.alert("无法出货","请检查出货数量输入合法性！");
        }else{
            $('#ff').form('submit', {
                url: "/web/sale/add.do",
                onSubmit: function (param) {
                    param.sale_goods_id=$('#dg').datagrid('getSelected').su_id;
                    param.sale_or_id=$('#dg').datagrid('getSelected').or_id;
                },
                success: function (result) {
                    $.messager.alert("反馈",result);
                }
            })
        }
    }
    /*]]>*/
</script>
</body>
</html>