<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <title>系统管理员界面</title>
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1>开发公告</h1>
    </div>
    <div class="jumbotron">
        <h1>【请关注下面更新日志！】</h1>
        <p>
            本次更新内容详见下面，大部分功能都已测试通过。
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
    </div>
    <ul>
        <li>1.一键结账实现</li>
        <li>2.卖小数功能正在测试优化中</li>
        <li>3.数量低值隐藏</li>
        <li>4.修复小数点显示错误等等</li>
        <li>....</li>
    </ul>
    <hr/>
    <ul>
        <li>1.入库记录页面添加当前页合计金额</li>
        <li>2.采用分页方式显示某些数据，缓解浏览器压力</li>
        <li>3.服务器配置优化</li>
        <li>4.入库记录可关键字查询供货商</li>
    </ul>
    <hr/>
    <ul>
        <li>1.货品管理现已支持物品模糊查询</li>
        <li>2.入库审核/出库审核调整列序且添加总价计算</li>
        <li>3.数据的小数点位保留优化，如有其它尚未保留请及时通知</li>
        <li>4.库存管理可以根据供货商进行查询</li>
        <li>5.入库记录可以隐藏低于特定值的列</li>
        <li>6.库存管理添加数据值过滤功能</li>
        <li>7.新增管理员admin1密码为123456</li>
        <li>8.退货数量动态修改进货数量【测试中】</li>
        <li>9.一键修改发票状况完成【测试中】</li>
    </ul>
</div>
</body>
</html>