<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>供销存管理系统</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="layui/css/ms.css" />
    <script src="layui/lay/modules/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
    <!--JQuery Easy UI 模块-->
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css" />
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
    <style>
        .panel{
            float:left;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div style="padding: 15px;">
        <div class="layui-inline">

            <div id="p" class="easyui-panel" title="供应商筛查" style="width:200px;height:150px;padding:10px;">
                <div style="margin-bottom:10px">
                    <input  id="likeStr1"  style="width:150px" class="easyui-textbox"   data-options="required:false"/>
                </div>
                <div style="margin-bottom:10px">
                    <select id="customerSelect" style="width:150px" class="easyui-combobox" name="su_supplier">
                    </select>
                </div>
                <button class="easyui-linkbutton" onclick="getBySup()">查询</button>
            </div>

            <div id="p1" class="easyui-panel" title="日期范围" style="width:400px;height:150px;padding:10px;">
                <div class="layui-input-inline" style="width: 150px;">
                    <input id="begin_date" type="date" name="price_min" autocomplete="off" class="layui-input" />
                </div>
                至
                <div class="layui-input-inline" style="width: 150px;">
                    <input id="end_date" type="date" name="price_max" autocomplete="off" class="layui-input" />
                </div>
                <div style="margin-top: 20px">
                    <button class="easyui-linkbutton" onclick="queryHistory()">查询</button>
                </div>
            </div>
            <script>
                $(function(){
                    $('#likeStr1').textbox({
                        onChange:function()
                        {
                            $('#customerSelect').combobox({
                                url:"/web/supplier/getListByLikeName.do",
                                queryParams:{
                                    likeStr:$('#likeStr1').val()
                                },
                                valueField:'supplier_id',
                                textField:'supplier_office'
                            });
                        }
                    })
                })
            </script>
        </div>
        <table id="dg" class="easyui-datagrid" title="进货历史列表" style="width:100%;height:600px"
               data-options="rownumbers:true,singleSelect:false,url:'/web/order/getByPage.do',method:'get', remoteSort:false,pagination:true,pageSize:50"
               toolbar="#toolbar">
            <thead>
            <tr>
                <th data-options="field:'or_id',width:80,sortable:true">流水号</th>
                <th data-options="field:'supplier_office',width:100,sortable:true">供货商</th>
                <th data-options="field:'su_name',width:100,sortable:true">货品名称</th>
                <th data-options="field:'su_No',width:80,editor:'textbox',sortable:true">商品货号</th>
                <th data-options="field:'or_supplier_id',width:100,hidden:true,sortable:true">供货商ID</th>
                <th data-options="field:'su_storage',width:80,align:'right',sortable:true">存储条件</th>
                <th data-options="field:'su_orign',width:80,align:'right',sortable:true">产地</th>
                <th data-options="field:'su_standard',width:80,align:'right',sortable:true">规格</th>
                <th data-options="field:'or_date',width:80,align:'right',sortable:true">进货日期</th>
                <th data-options="field:'or_deaddate',width:80,align:'right',sortable:true">到期日期</th>
                <th data-options="field:'or_initial',width:80,align:'right',sortable:true">购货数量</th>
                <th data-options="field:'or_price',width:80,align:'right',sortable:true">购价</th>
                <th data-options="field:'or_number',width:80,align:'right',sortable:true">剩余数量</th>
                <th data-options="field:'or_total',width:80,align:'right',sortable:true">总价</th>
                <th data-options="field:'or_invoice',width:60,sortable:true">发票状况</th>
                <th data-options="field:'or_payment',width:60,sortable:true">结款状态</th>
                <th data-options="field:'or_other',width:180">备注</th>
            </tr>
            </thead>
        </table>
        <!--工具栏菜单-->
        <div id="toolbar">
            隐藏数量低于此值的行
            <input class="easyui-numberbox" value="1" id="filterNum" style="width: 150px"/>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="cutRows()">隐藏</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="calcSUM()">合计金额</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="colorRow()">高亮区分</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="Export('导出excel', $('#dg'))">打印报表</a>
        </div>
        <script>
            /*<![CDATA[*/
            //计算当页总和
            function calcSUM() {
                var rows = $('#dg').datagrid("getRows");
                var sum =0.0;
                for(var i=0;i<rows.length;i++)
                {
                    sum=sum+rows[i].or_total;
                }
                $.messager.alert("消息","当前页总价为"+sum.toFixed(2)+"元!");
            }
            //删除数量少的行
            function cutRows() {
                var rows = $('#dg').datagrid("getRows");
                var low = $('#filterNum').numberbox("getValue");
                var selectRows = [];
                for (var i= 0; i< rows.length; i++) {
                    if(rows[i].or_number<low)
                    {
                        selectRows.push(rows[i]);
                    }
                }
                for(var j =0;j<selectRows.length;j++){
                    var index = $('#dg').datagrid('getRowIndex',selectRows[j]);
                    $('#dg').datagrid('deleteRow',index);
                }
            }
            /*]]>*/
        </script>
        <!--右键菜单-->
        <div id="mm" class="easyui-menu" style="width:120px;">
            <div onclick="delOrder()" data-options="iconCls:'icon-remove'">删除订单</div>
            <div onclick="$('#dlg_updateOther').dialog('open');" data-options="iconCls:'icon-edit'">修改备注</div>
            <div onclick="$('#dlg_invoice').dialog('open');" data-options="iconCls:'icon-edit'">修改发票状况</div>
            <div onclick=" $('#dlg').dialog('open');" data-options="iconCls:'icon-remove'">退货</div>
        </div>
        <!--退货面板-->
        <div id="dlg" class="easyui-dialog" title="退货面板" closed="true" data-options="iconCls:'icon-save'" style="width:300px;height:200px;padding:10px">
            <form id="ff_back" method="post">
                <div style="margin-bottom:10px">
                    <td><input class="easyui-textbox" label="退货数量：" type="number" id="backNum" data-options="required:true" /></td>
                </div>
                <div style="margin-bottom:10px">
                    <td><input class="easyui-textbox" label="退货原因：" type="text" id="backCause" data-options="required:true" /></td>
                </div>
                <div style="margin-bottom:10px">
                    <td><input class="easyui-datebox" label="退货时间：" type="text" id="backDate" data-options="required:true" /></td>
                </div>
            </form>
            <div style="text-align:center;padding:5px 0">
                <a class="easyui-linkbutton" onclick="backP()" style="width:80px">提交</a>
            </div>
        </div>
        <!--开发票面板-->
        <div id="dlg_invoice" class="easyui-dialog" title="修改发票状况" closed="true" data-options="iconCls:'icon-save'" style="width:400px;height:80px;padding:10px">
            <select id="cc" class="easyui-combobox" name="dept" style="width:200px;">
                <option value="1">有</option>
                <option value="2">无</option>
                <option value="3">拖欠</option>
            </select>
            <button class="easyui-linkbutton" onclick="updateIn()">确定</button>
        </div>
        <!--更新备注-->
        <div id="dlg_updateOther" class="easyui-dialog" title="更新备注" closed="true" data-options="iconCls:'icon-save'" style="width:400px;height:120px;">
            <input id="other" class="easyui-textbox" label="新备注:" labelPosition="top" style="width:90%;height:52px" />
            <button class="easyui-linkbutton" onclick="updateOther()">确定</button>
        </div>
    </div>
</div>
<!--CURD代码-->
<script>
    /*<![CDATA[*/
    // 查询
    function queryHistory() {
        var $begin_date = $('#begin_date').val();
        var $end_date =$('#end_date').val();
        var $of_id = $('#customerSelect').combobox('getValue');
        $('#dg').datagrid({url:"/web/order/getOrderByDateAndSupplierId.do"});
        $('#dg').datagrid("load",{
            begin_date:$begin_date,end_date:$end_date,key_id:$of_id
        });
    }
    // 自动获得机构信息并添加到选择框中
    $(function () {
        $('#dg').datagrid({
            onLoadSuccess:function (data) {
                var rows=$('#dg').datagrid("getRows");
                for(var i=0;i<rows.length;i++)
                {
                    $('#dg').datagrid('updateRow',{
                        index: i,
                        row: {
                            or_total:(rows[i].or_initial*rows[i].or_price).toFixed(2),
                            or_date:new Date(rows[i].or_date).toLocaleDateString(),
                            or_deaddate:new Date(rows[i].or_deaddate).toLocaleDateString(),
                            or_invoice:modify_invoice(rows[i].or_invoice),
                            or_payment:modify_payment(rows[i].or_payment)
                        }
                    });
                }
            },
            onRowContextMenu:function (e,index,row) {
                e.preventDefault();
                $('#mm').menu('show',{
                    left:e.pageX,
                    top:e.pageY});
            }
        });
    });
    //更正发票信息
    function modify_invoice(val)
    {
        switch(val)
        {
            case 1:return "有";
            case 2:return "无";
            case 3:return "拖欠";
        }
    }
    //更正付款信息
    function modify_payment(val)
    {
        switch(val)
        {
            case 3:return "预付款";
            case 4:return "月结";
            case 5:return "现结";
        }
    }
    //退货
    function backP() {
        var backNum=$('#backNum').val();
        var backDate=$('#backDate').val();
        var backOther=$('#backCause').val();
        var row = $('#dg').datagrid("getSelected");
        if(row.or_number>=backNum)
        {
            $.ajax({
                url:"/web/bp/add.do",
                data:{
                    bp_or_id:row.or_id,
                    bp_date:backDate,
                    bp_number:backNum,
                    bp_other:backOther,
                    bp_su_id:row.or_supplier_id
                },
                success:function (data) {
                    $.messager.alert(data);
                    location.reload();
                }
            })
        }
        else
        {
            $.messager.alert("消息","请检查退货数量合法性！");
        }

    }
    // 修改发票状况
    function updateIn() {
        var checkVal = $('#cc').val();
        var rows =$('#dg').datagrid("getSelections");
        for(var i=0;i<rows.length;i++)
        {
            $.ajax({
                url:"/web/order/setInvoice.do",
                data:{key:rows[i].or_id,value:checkVal},
            });
            //此处进行延时
            for(var j=0;j<200;j++)
            {}
        }
        $.messager.alert("消息","一键结发票完成！（受限于网络传输，请再次检查是否有遗漏）");
        $('#dg').datagrid('reload');
    }
    // 更新备注状况
    function updateOther() {
        var checkVal = $('#other').val();
        var or_id =$('#dg').datagrid("getSelected").or_id;
        $.ajax({
            url:"/web/order/updateOther.do",
            data:{key:or_id,val:checkVal},
            success:function (data) {
                $.messager.alert("消息",data);
                $('#dg').datagrid('reload');
            }
        })
    }
    // 删除订单
    function delOrder() {
        $.messager.confirm('确认','您确认想要删除订单记录吗？数据删除不可恢复！！！',function(r){
            if (r){
                var orId = $('#dg').datagrid("getSelected").or_id;
                $.ajax({
                    url:"/web/order/del.do",
                    data:{id:orId},
                    success:function (data) {
                        $.messager.alert("消息",data);
                        $('#dg').datagrid('reload');
                    }
                })
            }
        });
    }
    // 获得公司订单
    function getBySup() {
        var $of_id = $('#customerSelect').combobox('getValue');
        $('#dg').datagrid({url:"/web/order/getListBySupId.do"});
        $('#dg').datagrid("load",{
            id:$of_id
        });
    }
    //FUN_修改行颜色
    function colorRow() {
        $('#dg').datagrid({
            rowStyler: function(index,row){
                var style="";
                if (row.or_invoice=="有"){
                    style= 'background-color:#5FB878;color:#fff;';  //有发票但是没有结账
                }
                if (row.or_invoice=="无"){
                    style ='background-color:#6293BB;color:#fff;';  //结账
                }
                if (row.or_invoice=="拖欠"){
                    style ='background-color:#FF5722;color:#fff;';  //拖欠
                }
                return style;
            }
        });
    }
    /*]]>*/
</script>

<script>
    /*<![CDATA[*/
    function ChangeToTable(printDatagrid) {
        var tableString = '<table cellspacing="0" class="pb">';
        var frozenColumns = printDatagrid.datagrid("options").frozenColumns; // 得到frozenColumns对象
        var columns = printDatagrid.datagrid("options").columns;  // 得到columns对象
        var nameList = new Array();

        // 载入title
        if (typeof columns != 'undefined' && columns != '') {
            $(columns).each(function (index) {
                tableString += '\n<tr>';
                if (typeof frozenColumns != 'undefined' && typeof frozenColumns[index] != 'undefined') {
                    for (var i = 0; i < frozenColumns[index].length; ++i) {
                        if (!frozenColumns[index][i].hidden) {
                            tableString += '\n<th width="' + frozenColumns[index][i].width + '"';
                            if (typeof frozenColumns[index][i].rowspan != 'undefined' && frozenColumns[index][i].rowspan > 1) {
                                tableString += ' rowspan="' + frozenColumns[index][i].rowspan + '"';
                            }
                            if (typeof frozenColumns[index][i].colspan != 'undefined' && frozenColumns[index][i].colspan > 1) {
                                tableString += ' colspan="' + frozenColumns[index][i].colspan + '"';
                            }
                            if (typeof frozenColumns[index][i].field != 'undefined' && frozenColumns[index][i].field != '') {
                                nameList.push(frozenColumns[index][i]);
                            }
                            tableString += '>' + frozenColumns[0][i].title + '</th>';
                        }
                    }
                }
                for (var i = 0; i < columns[index].length; ++i) {
                    if (!columns[index][i].hidden) {
                        tableString += '\n<th width="' + columns[index][i].width + '"';
                        if (typeof columns[index][i].rowspan != 'undefined' && columns[index][i].rowspan > 1) {
                            tableString += ' rowspan="' + columns[index][i].rowspan + '"';
                        }
                        if (typeof columns[index][i].colspan != 'undefined' && columns[index][i].colspan > 1) {
                            tableString += ' colspan="' + columns[index][i].colspan + '"';
                        }
                        if (typeof columns[index][i].field != 'undefined' && columns[index][i].field != '') {
                            nameList.push(columns[index][i]);
                        }
                        tableString += '>' + columns[index][i].title + '</th>';
                    }
                }
                tableString += '\n</tr>';
            });
        }
        // 载入内容
        var rows = printDatagrid.datagrid("getRows"); // 这段代码是获取当前页的所有行
        for (var i = 0; i < rows.length; ++i) {
            tableString += '\n<tr>';
            for (var j = 0; j < nameList.length; ++j) {
                var e = nameList[j].field.lastIndexOf('_0');

                tableString += '\n<td';
                if (nameList[j].align != 'undefined' && nameList[j].align != '') {
                    tableString += ' style="text-align:' + nameList[j].align + ';"';
                }
                tableString += '>';
                if (e + 2 == nameList[j].field.length) {
                    tableString += rows[i][nameList[j].field.substring(0, e)];
                }
                else
                    tableString += rows[i][nameList[j].field];
                tableString += '</td>';
            }
            tableString += '\n</tr>';
        }
        tableString += '\n</table>';
        return tableString;
    }
    function Export(strXlsName, exportGrid) {
        var f = $('<form action="/web/branch/excel.do" method="post" id="fm1"></form>');
        var i = $('<input type="hidden" id="txtContent" name="txtContent" />');
        var l = $('<input type="hidden" id="txtName" name="txtName" />');
        i.val(ChangeToTable(exportGrid));
        i.appendTo(f);
        l.val(strXlsName);
        l.appendTo(f);
        f.appendTo(document.body).submit();
        document.body.removeChild(f);
    }
    /*]]>*/
</script>
</body>
</html>