<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>供销存管理系统</title>
    <script src="layui/lay/modules/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
    <!--JQuery Easy UI 模块-->
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="jquery-easyui/jquery.easyui.min.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table id="dg" class="easyui-datagrid" title="当前购物车" style="width:100%;height:800px"
                   data-options="rownumbers:true,singleSelect:true,
                   url:'/web/sc/get.do',
                   method:'get',
                   toolbar:'#tb',
                   remoteSort:false">
                <thead>
                <tr>
                    <th data-options="field:'car_id',width:80">流水号</th>
                    <th data-options="field:'su_name',width:100,sortable:true">货品名称</th>
                    <th data-options="field:'supplier_office',width:100,sortable:true">供货商</th>
                    <th data-options="field:'su_storage',width:80,align:'right',sortable:true">存储条件</th>
                    <th data-options="field:'su_orign',width:80,align:'right',sortable:true">产地</th>
                    <th data-options="field:'su_standard',width:80,align:'right',sortable:true">规格</th>
                    <th data-options="field:'car_su_number',width:80,align:'right',sortable:true">数量</th>
                    <th data-options="field:'car_other',width:80,align:'right'">备注</th>
                </tr>
                </thead>
            </table>
            <div id="tb" style="height:auto">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delItem()">删除</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delAllItem()">清空购物车</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="Export('导出excel', $('#dg'));">打印报表</a>
            </div>
            <!--右键菜单-->
            <div id="mm" class="easyui-menu" style="width:120px;">
                <div onclick="inbound()" data-options="iconCls:'icon-add'">入库</div>
                <div onclick="delItem()" data-options="iconCls:'icon-add'">删除订单</div>
            </div>
            <!--入库菜单-->
            <div id="dlg_inbound" class="easyui-dialog" title="入库" data-options="iconCls:'icon-save'" style="width:400px;height:650px;padding:10px">
                <iframe id="dlg_inbound_frame" src="" width="100%" height="100%" style="border: none" scrolling="no">
                </iframe>
            </div>
         </div>
    <div class="layui-footer">
        ©  - 底部固定区域
    </div></div>

<!--CURD代码-->
<script>
    /*<![CDATA[*/
    // 加载右键菜单
    $(function () {
        $('#dlg_inbound').dialog("close");
        $('#dg').datagrid({
            onRowContextMenu:function (e,index,row) {
                e.preventDefault();
                $('#mm').menu('show',{
                    left:e.pageX,
                    top:e.pageY});
        }})
    });
    // 删除Item
    function delItem()
    {
        var car_id = $('#dg').datagrid('getSelected').car_id;
        $.ajax({
            url:"/web/sc/del.do",
            data:{id:car_id},
            success:function (data) {
                $.messager.alert("消息",data);
            }
        })
    }
    // 清空购物车
    function delAllItem() {
        $.ajax({
        })
    }
    // 入库
    function inbound() {
        $("#dlg_inbound").dialog("open");
        var suId =$('#dg').datagrid("getSelected").car_su_id;
        $("#dlg_inbound_frame").attr("src","/web/form_purchase.html?key="+suId);
    }
    /*]]>*/
</script>

<script>
    /*<![CDATA[*/
    function ChangeToTable(printDatagrid) {
        var tableString = '<table cellspacing="0" class="pb">';
        var frozenColumns = printDatagrid.datagrid("options").frozenColumns; // 得到frozenColumns对象
        var columns = printDatagrid.datagrid("options").columns;  // 得到columns对象
        var nameList = new Array();

        // 载入title
        if (typeof columns != 'undefined' && columns != '') {
            $(columns).each(function (index) {
                tableString += '\n<tr>';
                if (typeof frozenColumns != 'undefined' && typeof frozenColumns[index] != 'undefined') {
                    for (var i = 0; i < frozenColumns[index].length; ++i) {
                        if (!frozenColumns[index][i].hidden) {
                            tableString += '\n<th width="' + frozenColumns[index][i].width + '"';
                            if (typeof frozenColumns[index][i].rowspan != 'undefined' && frozenColumns[index][i].rowspan > 1) {
                                tableString += ' rowspan="' + frozenColumns[index][i].rowspan + '"';
                            }
                            if (typeof frozenColumns[index][i].colspan != 'undefined' && frozenColumns[index][i].colspan > 1) {
                                tableString += ' colspan="' + frozenColumns[index][i].colspan + '"';
                            }
                            if (typeof frozenColumns[index][i].field != 'undefined' && frozenColumns[index][i].field != '') {
                                nameList.push(frozenColumns[index][i]);
                            }
                            tableString += '>' + frozenColumns[0][i].title + '</th>';
                        }
                    }
                }
                for (var i = 0; i < columns[index].length; ++i) {
                    if (!columns[index][i].hidden) {
                        tableString += '\n<th width="' + columns[index][i].width + '"';
                        if (typeof columns[index][i].rowspan != 'undefined' && columns[index][i].rowspan > 1) {
                            tableString += ' rowspan="' + columns[index][i].rowspan + '"';
                        }
                        if (typeof columns[index][i].colspan != 'undefined' && columns[index][i].colspan > 1) {
                            tableString += ' colspan="' + columns[index][i].colspan + '"';
                        }
                        if (typeof columns[index][i].field != 'undefined' && columns[index][i].field != '') {
                            nameList.push(columns[index][i]);
                        }
                        tableString += '>' + columns[index][i].title + '</th>';
                    }
                }
                tableString += '\n</tr>';
            });
        }
        // 载入内容
        var rows = printDatagrid.datagrid("getRows"); // 这段代码是获取当前页的所有行
        for (var i = 0; i < rows.length; ++i) {
            tableString += '\n<tr>';
            for (var j = 0; j < nameList.length; ++j) {
                var e = nameList[j].field.lastIndexOf('_0');

                tableString += '\n<td';
                if (nameList[j].align != 'undefined' && nameList[j].align != '') {
                    tableString += ' style="text-align:' + nameList[j].align + ';"';
                }
                tableString += '>';
                if (e + 2 == nameList[j].field.length) {
                    tableString += rows[i][nameList[j].field.substring(0, e)];
                }
                else
                    tableString += rows[i][nameList[j].field];
                tableString += '</td>';
            }
            tableString += '\n</tr>';
        }
        tableString += '\n</table>';
        return tableString;
    }
    function Export(strXlsName, exportGrid) {
        var f = $('<form action="/web/branch/excel.do" method="post" id="fm1"></form>');
        var i = $('<input type="hidden" id="txtContent" name="txtContent" />');
        var l = $('<input type="hidden" id="txtName" name="txtName" />');
        i.val(ChangeToTable(exportGrid));
        i.appendTo(f);
        l.val(strXlsName);
        l.appendTo(f);
        f.appendTo(document.body).submit();
        document.body.removeChild(f);
    }
    /*]]>*/
</script>
</body>
</html>